{% extends 'base.html' %}

{% block content %}
<div class="col-sm-12">
    <div class="card">
        <div class="card-header" style="background-color: #02a86b;">
            <h5 class="card-title text-light">Historical Breakdown</h5>
        </div>
        <br>
        <div class="card-body">
            <form action="{% url 'historical' %}" method="POST" role="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="birthday">Select date:</label>
                    <input class="form-control" type="date" id="date" name="date" min="1999-01-01"><br>
                    <br>
                    <label for="format">Base Currency: USD</label>
                    <br>
                   <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <br>

            <div id="rate" style="text-align-last: left; font-size: 20px; font-weight:900">
                {% if is_error %}
                    {{ rate }}
                {% else %}
    
                {% endif %}
            </div>

            <br>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Rate</th>   
                </tr>
                </thead>
                <tbody>
                {% for key, value in quotes.items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{key}}</td>
                    <td>{{value}}</td>                                          
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}